/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw; /* Ocupa 100% da largura da tela */
  min-height: 100vh;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}